.container {
    width: 100%;
    margin-top: 3rem;

    h2 {
        margin-bottom: 1rem;
    }

    li {
        list-style-type: none;
        background: linear-gradient(82deg, rgba(255, 245, 245, 0) 0%, rgba(209, 211, 244, 0.6474964985994398) 100%);

        &:not(:last-of-type) {
            margin-bottom: 5px;
        }

        .item-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .title {
                max-width: 60ch;
                white-space: pre-wrap;
                font-style: italic;
                font-family: serif;
                font-size: 1.5rem;
                letter-spacing: 1px;
            }

            .right-col {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                align-items: center;

                .icon {
                    position: relative;
                    transition: all 0.3s linear;
                    cursor: pointer;
                }

                .toggle-icon {
                    margin: 10px;
                    padding: 10px;
                    border: 1px solid var(--grey-main);
                    color: var(--grey-main);
                    margin-right: 0;
                    border-radius: 20px;
                    position: relative;

                    &:hover {
                        box-shadow: inset 0 0 2px black, 0 0 2px black;
                       
                        .toggle-text {
                            animation: collapse-expand 300ms both;
                            animation-iteration-count: 1;
                            animation-direction: alternate;
                            transform-origin: right
                        }
                    }
                }
                
                @keyframes collapse-expand {
                    0% {
                        transform: scale(0);
                        position: relative;
                        right: 0;
                        top: 0;
                    }
                    100% {
                        transform: scale(1);
                        right: auto;
                        top: auto;
                    }
                }

                .remove-icon {
                    padding-right: 20px;
                    font-size: 3rem;
                    line-height: 1;
                    
                    .symbol {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}