.container {
    width: 100%;
    margin-top: 3rem;

    h2 {
        margin-bottom: 1rem;
    }

    li {
        list-style-type: none;
        background: linear-gradient(82deg, rgba(255,245,245,0) 0%, rgba(209,211,244,0.6474964985994398) 100%);

        &:not(:last-of-type) {
            margin-bottom: 5px;
        }

        .item-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .title {
                max-width: 60ch;
                white-space: pre-wrap;
                font-style: italic;
                    font-family: serif;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
            }

            .right-col {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .icon {
                    position: relative;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s linear;
                    cursor: pointer;
                }

                .remove-icon {
                    padding: 10px;
                    padding-right: 0;
                    font-weight: bold;

                    left: 10px;
                }

                .toggle-icon {
                    left: 20px;
                }
            }
        }

        .item-row:hover {
            .remove-icon, .toggle-icon {
                left: 0;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}